#header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  }
.logo span{
  color: mediumaquamarine;
}
.logo img{
  padding-right: 10px;
}
#nav{
  display: inline-block;
  justify-content: flex-end;
}
#nav span{
  padding: 20px 10px;
  margin-right: 80px;
}
a{
  color: black;
  text-align: right;
}
.content{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.column.large{
  width: 630px;
  display: inline-block;
  justify-content: flex-start;
  margin-top: 75px;
  position: relative;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
  }
div{
  border: 1px solid black;
}
