#header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  }
.logo span{
  color: mediumaquamarine;
}
.logo img{
  padding-right: 10px;
}
#nav{
  display: inline-block;
  justify-content: flex-end;
}
#nav span{
  padding: 20px 10px;
  margin-right: 80px;
}
a{
  color: black;
  text-align: right;
}



.content{
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  width: 1232px;
  flex-grow: 1;
  margin: 0 auto 78px auto;
  padding-top: 116px:
}
.column.large{
  width: 630px;
  margin-top: 75px;
  position: relative;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}
.column.medium{
  width: 300px;
  margin-top: 75px;
  margin-right: 32px;
}
.column.small{
  width: 240px;
  margin-top: 75px;
  margin-right: 32px;
  }
h2{
  font-weight: bold;
}
.title1{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: block;
}
.title1 .image{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png)
  }
.title3 .image{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.title5 .image{
  display: flex;
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
.title7 .image{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.story{
  display: flex;
  flex-direction: column;
}
#text{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  font-weight: normal;
}
#narrartive{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.image{
  height: 300px;
}
.stories{
  display: flex;
  justify-content: space-between;
}
.narratives{

}
